.app-wrapper{
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2 fr 10fr;
  
}

.nav{
  grid-area: n;
  background-color: blueviolet;
}

.header{
  grid-area: h;
  background-color: aqua;
}

.header img {
  width: 80px;
}
.content{
  grid-area: c;
  background-color: brown;
}